#General use .gitignore for Minecraft modding.

#Folders
/.gradle/*
/build/*
/eclipse/*
/run/*
/out/*
/asm/*
/bin/*
/TODO/*

#File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project

#Specific files
*Thumbs.db